
<div class="row">
    <div >
      <div class="col-md-3 scrollable-container" [style.height.px]="winHeight-270">
          <searchcriteria-cmp [(ngModel)]="searchCriteriaResult"></searchcriteria-cmp>
      </div>
      <div class="col-md-9 scrollable-container" [style.height.px]="winHeight-270">
          <button class="btn btn-wd btn-warning" (click)="getClothing(false)">
              <i _ngcontent-c2="" class="fa fa-search"></i> Buscar
          </button><br><br>
          <div class="row">
              <div class="col-md-4" *ngFor="let clothe of clothes; let i=index">
                  <div class="card">
                      <div class="content text-center">
                          <div class="img-clothe">
                              <img class="img-clothe cursor-pointer" [src]="getImage(clothe.picture)" (click)="openSlideshow(i)"/>
                          </div>
                          <h5>{{clothe.name}}</h5>
                          <a href="javascript:void(0)">{{clothe.type}}</a><br/>
                          <a href="javascript:void(0)">{{clothe.category}}</a><br/><br/>
                          <button class="btn btn-warning btn-fill btn-wd" (click)="addToCalendar(clothe.id, clothe.uuid)">
                              <span class="btn-label">
                                <i class="fa fa-plus"></i>
                              </span>
                              Agregar a calendatio
                          </button>
                      </div>
                  </div>
              </div>


          </div>


      </div>

  </div>
</div>

  <div class="col-md-12" *ngIf="clothes.length < totalItems">
      <button type="button" rel="tooltip" (click)="getClothing(true)" data-placement="left" title="Eliminar" class="btn btn-danger btn-block btn-icon ">
          <i class="fa fa-arrow-down"></i> Cargar mas...
      </button>
  </div>
  