<input type='file' #file class="inputfile" (ngModel)="selectedImage" (change)="onSelectFile($event, file)">

<div class="card">
    <div class="text-center panel">
        <div 
        (click)="openInputFile(file)"
        (dragover)="onDragover($event)" 
        (dragleave)="onDragleave($event)"
        (drop)="onDrop($event)"
        [ngClass]="{ 'file-over': mouseOver }" 
        class='drop-zone'>
            <div>
                <span>{{fileName}}</span>
            </div>
            <img [src]="url" class="image-cmp">
        </div>

        <div class='clear'></div>
    </div>
</div>

