<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" (click)="close()" >&times;</button>
         <h4 class="modal-title">{{(title | date : 'yyyy/MM/dd') || 'Confirm'}}</h4>
       </div>
       <div class="modal-body">
         
        <div class="content content-full-width">
            <ul role="tablist" class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#icon-info" data-toggle="tab"><i class="fa fa-eye"></i>Ver</a>
                </li>
                <li>
                    <a href="#icon-account" data-toggle="tab"><i class="fa fa-pencil-alt"></i> Modifiicar</a>
                </li>
            </ul>

            <div class="tab-content">
                <!--VISTA GENERAL--------------------------------------->
                <div id="icon-info" class="tab-pane active">

                  <div class="row">
                    <div class="clothing-view-container"[style.height.px]="winHeight-260">
                      <div>
                        <p>Este día estuvimos en confama de guatapé</p>
                      </div>
                      <div>
                        <div class="col-md-4" *ngFor="let clothe of clothes; let i=index">
                            <div class="card">
                                <div class="content text-center">
                                    <div class="img-clothe">
                                        <img class="img-clothe cursor-pointer" [src]="getImage(clothe.picture)" (click)="openSlideshow(i)"/>
                                    </div>
                                    <h5>{{clothe.name}}</h5>
                                    <a href="javascript:void(0)">{{clothe.type}}</a><br/>
                                    <a href="javascript:void(0)">{{clothe.category}}</a><br/><br/>
                                    <a class="btn btn-info btn-fill" [routerLink]="['/clothing/view-clothe', clothe.uuid]" title="Ver">
                                        <span class="btn-label">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </a>
                                    <button class="btn btn-danger btn-fill" (click)="removeClothe(clothe.uuid)" title="Eliminar">
                                        <span class="btn-label">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <!--MODIFICAR-------------------------------------------------->
                <div id="icon-account" class="tab-pane">
                    
                    <div class="row">
                      <div >
                        <div class="col-md-3 scrollable-container" [style.height.px]="winHeight-270">
                            <searchcriteria-cmp></searchcriteria-cmp>
                        </div>
                        <div class="col-md-9 scrollable-container" [style.height.px]="winHeight-270">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="content text-center">
                                            <div class="img-clothe">
                                                <img class="img-clothe" alt="..." src="../assets/img/blog-1.jpg" />
                                            </div>
                                            <h5>Camisa verde de cuadros Big jhon </h5>
                                            <a href="https://datatables.net/" target="_blank" rel="noopener noreferrer">Camisetas</a><br/><br/>
                                            <button class="btn btn-warning btn-fill btn-wd" (click)="showSwal('basic')">
                                                <span class="btn-label">
                                                    <i class="pe-7s-plus"></i>
                                                </span>
                                                Agregar a calendatio
                                            </button>
                                        </div>
                                    </div>
                                </div>
            

                            </div>
            

                        </div>
          
                    </div>
                  </div>

                </div>
          </div>

        </div>

       </div>
       
     </div>
  </div>

