<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" (click)="close()" >&times;</button>
         <h4 class="modal-title">{{(title | date : 'yyyy/MM/dd') || 'Confirm'}}</h4>
       </div>
       <div class="modal-body">
         
        <div class="content content-full-width">
            <ul role="tablist" class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="#icon-info" data-toggle="tab"><i class="fa fa-eye"></i>Ver</a>
                </li>
                <li>
                    <a href="#icon-account" data-toggle="tab"><i class="fa fa-pencil-alt"></i> Modifiicar</a>
                </li>
            </ul>

            <div class="tab-content">
                <!--VISTA GENERAL--------------------------------------->
                <div id="icon-info" class="tab-pane active">

                  <div class="row">
                    <div class="clothing-view-container"[style.height.px]="winHeight-300">
                      <div>
                        <p>Este día estuvimos en confama de guatapé</p>
                      </div>
                      <div>
                        <div class="col-md-4" *ngFor="let clothe of clothes; let i=index">
                            <div class="card">
                                <div class="content text-center">
                                    <div class="img-clothe">
                                        <img class="img-clothe cursor-pointer" [src]="getImage(clothe.picture)" (click)="openSlideshow(i)"/>
                                    </div>
                                    <h5>{{clothe.name}}</h5>
                                    <a href="javascript:void(0)">{{clothe.type}}</a><br/>
                                    <a href="javascript:void(0)">{{clothe.category}}</a><br/><br/>
                                    <a class="btn btn-info btn-fill" [routerLink]="['/clothing/view-clothe', clothe.uuid]" title="Ver">
                                        <span class="btn-label">
                                            <i class="fa fa-eye"></i>
                                        </span>
                                    </a>
                                    <button class="btn btn-danger btn-fill" (click)="removeClothe(clothe.uuid)" title="Eliminar">
                                        <span class="btn-label">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <!--MODIFICAR-------------------------------------------------->
                <div id="icon-account" class="tab-pane">
                    
                    <div class="row">
                      <div class="clothing-view-container"[style.height.px]="winHeight-300">
                        <div class="col-md-3">
                            <div class="actions">
                                <div class="panel panel-default">
                                    <div class="panel-cabecera">
                                        <label><input type="checkbox" class="filtro" id="filtro_tipoPrenda" name="checkbox-filtro" alt="SI" value="pad_tipoPrenda" checked=""> Tipo de prenda</label>
                                    </div>
                                    <div class="panel-body filtro-expandido">
                                        
                                        <select multiple data-title="Multiple Select" name="currency" class="selectpicker" data-style="btn-warning btn-block" data-menu-style="dropdown-blue">
                                            <option value="id">Boxer</option>
                                            <option value="ms">Pantalon</option>
                                            <option value="ca">Camisa</option>
                                        </select>
            
                                    </div>
                                </div>
                            </div>
                            <div class="actions">
                                <div class="panel panel-default">
                                    <div class="panel-cabecera">
                                        <label><input type="checkbox" name="checkbox-filtro" class="filtro" id="filtro_categoria" alt="NO" value="pad_categoria"> Categoría</label>
                                    </div>
                                    <div class="panel-body filtro-contraido">
                                        <ul id="cont-categoria" class="nav nav-pills nav-stacked">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-cabecera">
                                    <label><input type="checkbox" name="checkbox-filtro" class="filtro" id="filtro_nivelGusto" alt="NO" value="pad_nivelGusto"> Nivel de gusto</label>
                                </div>
                                <div class="panel-body filtro-contraido">
                                    <ul id="cont-nivelesGusto" class="nav nav-pills nav-stacked">
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-cabecera">
                                    <label><input type="checkbox" name="checkbox-filtro" class="filtro" id="filtro_marca" alt="NO" value="pad_marca"> Marca</label>
                                </div>
                                <div class="panel-body filtro-contraido">
                                    <ul id="cont-marcas" class="nav nav-pills nav-stacked">
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-cabecera">
                                    <label><input type="checkbox" name="checkbox-filtro" class="filtro" id="filtro_color" alt="NO" value="pad_color"> Color</label>
                                </div>
                                <div class="panel-body filtro-contraido">
                                    <ul id="cont-coloresPrenda" class="nav nav-pills nav-stacked">
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-cabecera">
                                    <label><input type="checkbox" name="checkbox-filtro2" class="filtro" alt="NO" id="pad_tiempo"> Tiempo sin uso</label>
                                </div>
                                <div class="panel-body filtro-contraido">
                                    <ul id="cont-coloresPrenda" class="nav nav-pills nav-stacked">
                                        <div class="input text required">
                                            <label for="PrendaNombre">Días</label>
                                            <input class="form-control" placeholder="Días" maxlength="3" type="number" id="dias-filtro" value="5">
                                        </div>
                                        <br>
                                        <div class="input select required">
                                            <label for="PrendaUserId">Periodo</label>
                                            <select name="data[Prenda][user_id]" class="form-control" placeholder="User Id" id="intervalo-dias-filtro" required="required">
                                                <option value=">=">Mayor</option>
                                                <option value="<=">Menor</option>
                                                <option value="=">Igual</option>
                                            </select>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            
                            <div >
            
                                    <div class="row">
                                
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="content text-center">
                                                    <div class="img-clothe">
                                                        <img class="img-clothe" alt="..." src="../assets/img/blog-1.jpg" />
                                                    </div>
                                                    <h5>Camisa verde de cuadros Big jhon </h5>
                                                    <a href="https://datatables.net/" target="_blank" rel="noopener noreferrer">Camisetas</a><br/><br/>
                                                    <button class="btn btn-warning btn-fill btn-wd" (click)="showSwal('basic')">
                                                        <span class="btn-label">
                                                            <i class="pe-7s-plus"></i>
                                                        </span>
                                                        Agregar a calendatio
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                    

                                    </div>
            
                            </div>
                        </div>
          
                    </div>
                  </div>

                </div>
          </div>

        </div>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-warning" (click)="confirm()">Seleccionar</button>
         <button type="button" class="btn btn-default" (click)="close()" >Cancelar</button>
       </div>
     </div>
  </div>

