<input #word type="text" 
(keyup)="search(word.value, $event)" 
(keydown.ArrowUp)="onArrowUp()"
(keydown.ArrowDown)="onArrowDown()"
(keydown.enter)="selectItem(focusIdElement)"
[(ngModel)]="currentValue.name" 
class="form-control" 
[placeholder]="placeHolder">

<div class="list-group search-list" id="list-tab" role="tablist" *ngIf="matches.length > 0">
        <a #item
        *ngFor="let match of matches;let i=index"
        [ngClass]="{'active': match.id == focusIdElement}"
        class="list-group-item list-group-item-action" 
        data-toggle="list" 
        href="javascript: void(0)" 
        role="tab" 
        aria-controls="home"
        (click)="selectItem(match.id)"
        >{{match.name}}</a>
</div>
