<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar perfil</h4>
                    </div>
                    <div class="content">
                        <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid, pp, cp)">
                            <div class="category">
                                Los campos requeridos están marcados con: <span class="star">*</span>
                            </div>
                            <hr>
                            <br>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="panel-title-a" data-target="#collapseOne" data-toggle="collapse">
                                                            <div class="form-group">
                                                                <label class="panel-title-label">
                                                                    Modifique su foto de perfil
                                                                </label>
                                                                <b class="caret"></b>
                                                            </div>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <wossha-img-uploader #pp name="profilePicture" [aspectRatio]="1 / 1" [resizeToWidth]="800" [roundCropper]="true" [(ngModel)]="user.profilePicture"></wossha-img-uploader>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="panel-title-a" data-target="#collapseTwo" data-toggle="collapse">
                                                        <div class="form-group">
                                                            <label class="panel-title-label">
                                                                Modifique si foto de portada
                                                            </label>
                                                            <b class="caret"></b>
                                                        </div>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                        <wossha-img-uploader #cp name="coverPicture" [aspectRatio]="3 / 1" [resizeToWidth]="800" [roundCropper]="false" [(ngModel)]="user.coverPicture"></wossha-img-uploader>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email: <span class="star">*</span></label>
                                        <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="user.email"
                                        required  #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                        <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="white-text">
                                            El email es requerido, y su formato debe ser: <i>john@doe.com</i>.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre: <span class="star">*</span></label>
                                        <input type="text" placeholder="Nombre" class="form-control" name="firstName" [(ngModel)]="user.firstName"
                                        required  #firstName="ngModel">
                                        <small [hidden]="firstName.valid || (firstName.pristine && !f.submitted)" class="white-text">
                                            El nombre es requerido.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Apellido: <span class="star">*</span></label>
                                        <input type="text" class="form-control" placeholder="Apellido" name="lastName" [(ngModel)]="user.lastName"
                                        required  #lastName="ngModel">
                                        <small [hidden]="lastName.valid || (lastName.pristine && !f.submitted)" class="white-text">
                                            El apellido requerido.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fecha de cumpleaños: <span class="star">*</span></label>
                                        <input type="date" class="form-control" [(ngModel)]="user.birthday" min="{{minDate | date: 'yyyy-MM-dd'}}" max="{{maxDate | date: 'yyyy-MM-dd'}}" name="birthday" 
                                        #birthday="ngModel" />
                                        <small [hidden]="birthday.valid || (birthday.pristine && !f.submitted)" class="white-text">
                                            La fecha de nacimiento es requerida.
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>País: <span class="star">*</span></label>
                                        <select name="countries" required class="form-control" name="country" #country="ngModel" [(ngModel)]="user.country">
                                            <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
                                        </select>
                                        <small [hidden]="country.valid || (country.pristine && !f.submitted)" class="white-text">
                                            El país requerido.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Acerca de mi: </label>
                                        <textarea rows="4" maxlength="500" class="form-control" placeholder="Una breve descripción sobre mí" 
                                        name="about" [(ngModel)]="user.about" #about="ngModel"></textarea>
                                        <small [hidden]="about.valid || (about.pristine && !f.submitted)" class="white-text">
                                            Este campo no debe contener mas de 500 caracteres
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="display: block">
                                            Genero: <span class="star">*</span>
                                        </label>
                                        <div class="radio col-md-2">
                                            <input type="radio" name="radio10" id="radio5" value="M" name="gender" [(ngModel)]="user.gender"
                                            required  #gender="ngModel">
                                            <label for="radio5">
                                                Hombre
                                            </label>
                                        </div>
                                        <div class="radio col-md-2" style="margin-top: 10px">
                                            <input type="radio" name="radio10" id="radio6" value="F" name="gender" [(ngModel)]="user.gender"
                                            required  #gender="ngModel">
                                            <label for="radio6">
                                                Mujer
                                            </label>
                                        </div>
                                        <div class='clear'></div>
                                        <div class='col-md-8'>
                                            <small [hidden]="gender.valid || (gender.pristine && !f.submitted)">
                                                El género es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" [disabled]="!somthingChanged()" class="btn btn-warning btn-fill pull-right">Actualizar perfil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img [src]="getCoverImage(data.coverPicture)"/>
                    </div>
                    <div class="content">
                        <div class="author">
                             <a href="#">
                            <img class="avatar border-gray" [src]="getProfileImage(data.profilePicture)"/>

                              <h4 class="title">{{user.firstName}} {{user.lastName}}<br />
                                 <small>{{user.username}}</small>
                              </h4>
                            </a>
                        </div>
                        <p class="description text-center">{{user.about}}</p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
