<app-photo-swipe #photoSwipe></app-photo-swipe>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-3">
                <searchcriteria-cmp [(ngModel)]="searchCriteriaResult"></searchcriteria-cmp>
            </div>
            <div class="col-md-9">
                <button type="button" id="btn-generar-conbinacion" class="btn btn-warning btn-fill btn-wd" [disabled]="!canFetch" (click)="getOutfit()">
                    <i class="fa fa-random"></i> Generar combinación
                </button><br><br>
                <div id="no-more-tables">

                        <div class="row">

                            <div class="col-md-4" *ngFor="let clothe of clothes; let i=index">
                                <div class="card">
                                    <div class="content text-center">
                                        <div class="img-clothe">
                                            <img class="img-clothe cursor-pointer" [src]="getImage(clothe.picture)" (click)="openSlideshow(i)"/>
                                        </div>
                                        <h5>{{clothe.name}}</h5>
                                        <a href="javascript:void(0)">{{clothe.type}}</a><br/>
                                        <a href="javascript:void(0)">{{clothe.category}}</a><br/><br/>
                                        <button class="btn btn-warning btn-fill" (click)="getOtherOutfitClothe(clothe.uuid, clothe.type)" title="Otro">
                                            <span class="btn-label">
                                                <i class="fa fa-random"></i>
                                            </span>
                                        </button>
                                        <button class="btn btn-info btn-fill" (click)="addClotheToCalendar(clothe.uuid, clothe.id)" title="Agregar a calendario">
                                            <span class="btn-label">
                                                <i class="fa fa-calendar-alt"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
        
            
                        </div>

                        <div class="row" class="text-right">
                            <button class="btn btn-info btn-fill" *ngIf="clothes.length > 0" (click)="addOutfitToCalendar()" title="Agregar a calendario">
                                <span class="btn-label">
                                    <i class="fa fa-calendar-alt"></i> Agregar combinación a calendario
                                </span>
                            </button>
                        </div>

                </div>
            </div>


        </div>
    </div>
</div>
