<crystal-gallery class="hidden" [images]="slideImages" [config]="myConfig"></crystal-gallery>

<div class="text-center" style="margin-bottom: 15px; margin-top: 15px;" *ngIf="loading">
    <i class="fas fa-circle-notch fa-spin wossha-spinner"></i>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="image">
                        <img class="cursor-pointer" [src]="getCoverImage(data.coverPicture)" (click)="lightbox.open(slideImages, {index: 1})"/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-gray cursor-pointer" [src]="getProfileImage(data.profilePicture)" (click)="lightbox.open(slideImages, {index: 0})"/>

                              <h4 class="title">{{user.firstName}} {{user.lastName}}<br />
                                 <small>{{user.username}}</small>
                              </h4>
                        </div>
                        <p class="description text-center">{{user.about}}</p>
                        <div class="text-center" *ngIf="followStatus()=='NOT_FOLLOWING'">
                            <button type="button" [disabled]="loadingAction" class="btn btn-warning btn-fill btn-wd" (click)="followUser()">
                                <i *ngIf="!loadingAction" class="fa fa-user-plus"></i>
                                <i *ngIf="loadingAction" class="fas fa-circle-notch fa-spin wossha-button-spinner"></i> 
                                 Solicitar seguir
                            </button>
                        </div>
                        <div class="text-center" *ngIf="followStatus()=='WAITING_FOR_APPROVAL'">
                            <button type="button" [disabled]="loadingAction" class="btn btn-warning btn-fill btn-wd" (click)="stopFollowingUser()">
                                <i *ngIf="!loadingAction" class="fa fa-times"></i>
                                <i *ngIf="loadingAction" class="fas fa-circle-notch fa-spin wossha-button-spinner"></i>
                                 Cancelar solicitud para seguir
                            </button>
                        </div>
                        <div class="text-center" *ngIf="followStatus()=='FOLLOWING'">
                            <button type="button" [disabled]="loadingAction" class="btn btn-warning btn-fill btn-wd" (click)="stopFollowingUser()">
                                <i *ngIf="!loadingAction" class="fa fa-user-minus"></i>
                                <i *ngIf="loadingAction" class="fas fa-circle-notch fa-spin wossha-button-spinner"></i> 
                                Dejar de seguir
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fab fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fab fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fab fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <wossha-post [username]="username"></wossha-post>
        </div>
    </div>
</div>