<div class="card">
   
    <div class="wossha-post-content">
        <div class="notification-picture">
            <a [routerLink]="['/pages/user', userSessionInfo.username]">
                <img id="slide-profile-picture" style="width: 48px; height: 48px;" [src]="userSessionInfo.userSessionInfo.picture | picturePipe" />
            </a>
        </div>
        <div class="editable-post-box" clickOutside (clickOutside)="inFocus=false">  
            <div 
                #textVar
                class="{{uuidPost}}"
                contenteditable="true" 
                (focus)="inFocus=true"
                [ngClass]="{'contenteditable-focus': inFocus}"
                (input)="insertTextModel($event.target.textContent)"
                >
            </div>
            <div style="padding-top: 10px" [hidden]="!inFocus">
                <div style="float: left;">
                    <button class="btn btn-info btn-fill btn-sm btn-round btn-icon btn-tool" (click)="showImageOrVideoUploader('IMAGE')" title="Adjunta imagenes">
                        <i class="fa fa-image"></i>
                    </button>
                    <button class="btn btn-danger btn-fill btn-sm btn-round btn-icon btn-tool" (click)="showImageOrVideoUploader('VIDEO')" title="publica un video de youtube">
                        <i class="fab fa-youtube btn-tool"></i>
                    </button>
                </div>
                <div [hidden]="!showingImageUploader">
                    <div class="clear"></div>
                    <div class="form-group">
                        <div>
                            <wossha-multiple-img-uploader #p name="picture" [(ngModel)]="images" [maxImages]="uuidPost==null ? 10 : 1"></wossha-multiple-img-uploader>
                        </div>
                    </div>
                </div>
                <div [hidden]="!showingVideoUploader">
                    <div class="clear"></div>
                    <div class="form-group">
                        <input type="text" placeholder="Pegue aquí el link del video de youtube" class="form-control url-field" name="videoUrl" [(ngModel)]="videoUrl" >
                        <div style="margin-top: 10px;" *ngIf="videoUrl != ''">
                            <iframe appLoadVideo width="200" height="112.5" [src]="videoUrl | videoPipe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning btn-fill btn-sm float-right" (click)="post()">
                    <i class="fa fa-paper-plane"></i> Publicar
                </button>
            </div>
            
        </div>
        <div class="clear"></div>
    </div>

    
</div>