.custom-dropzone{
    width: 96px;
    height: 96px;
    color: #e0e0e0;
    border-color: #e0e0e0 !important; 
}

.url-field{
    margin-top: 10px;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-left: 2.5%;
    height: 0;
    overflow: hidden;
}

.videoContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    text-align: center;
}