<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-8">
                    <div>
                        <wossha-post></wossha-post>
                    </div>
                    <div class="card">
                        <div class="header">
                            <img class="avatar" src="../../../assets/img/default-avatar.png" alt="...">
                            <span>Julian Giraldo</span>
                        </div>
                        <div class="content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="col-md-10 col-md-offset-1">
                                <img class="img-clothe" alt="..." src="../assets/img/blog-1.jpg" />
                            </div>
                            <div class='clear'></div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <img class="avatar" src="../../../assets/img/default-avatar.png" alt="...">
                            <span>Julian Giraldo</span>
                        </div>
                        <div class="content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </p>
                            <div class="col-md-10 col-md-offset-1">
                                <img class="img-clothe" alt="..." src="../assets/img/blog-1.jpg" />
                            </div>
                            <div class='clear'></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                            <div class="header">
                                <img class="avatar" src="../../../assets/img/default-avatar.png" alt="...">
                                <span>Americanino</span>
                            </div>
                            <div class="content">
                                <p>
                                    Este mes tenemos las mejores ofertas
                                </p>
                                <div>
                                    <img class="img-clothe" alt="..." src="../assets/img/blog-1.jpg" />
                                </div>
                                <div class='clear'></div>
                            </div>
                    </div>
                </div>
            


        </div>
    </div>
</div>
