.img-prenda{
    width: 100%;
 }

 .panel-cabecera{
    color: #333;
    background-color: #d8d8d8;
    border-color: #ddd;

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
 }

 .card{
    color: #777;
 }

 .clear{
    clear: both;
 }