.img-clothe{
    width: 100%;
 }

 .alert {
    z-index: 2000 !important;
  }

 .panel-cabecera{
    color: #333;
    background-color: #d8d8d8;
    border-color: #ddd;

    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
 }

 .card{
    color: #777;
 }

 .clear{
    clear: both;
 }

 .white-text{
     color: #ffffff !important;
 }

 .red-text{
        color: #FB404B !important;
    }

 .radio input[type="radio"]:checked:not(:disabled):hover + label::after, .radio input[type="radio"]:checked + label::after {
    color: #FFA534 !important;
}

.datepicker-text-color{
    color: #c3c3c3 !important;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.selectpicker-background{
    background-color: #ffffff !important;
    opacity: 1 !important;
}

[_nghost-c1] {
    height: 154px !important;
}

/*[_nghost-c8]{
    height: 40px !important;
    z-index: -1 !important;
}*/

.cursor-pointer{
    cursor: pointer;
}

.selected-list .c-list .c-token {
    background: #FFA534 !important; 
}

.pure-checkbox input[type="checkbox"]:focus + label:before, .pure-checkbox input[type="checkbox"]:hover + label:before {
    border-color: #FFA534 !important; 
}

.pure-checkbox input[type="checkbox"] + label:before {
    color: #FFA534 !important;
    border: 2px solid #FFA534 !important; 
}

.pure-checkbox input[type="checkbox"] + label:after {
    background-color: #FFA534 !important; 
}

.pure-checkbox input[type="checkbox"]:checked + label:before {
    background: #FFA534 !important; 
}

/*CALENDAR--------------*/
.fc-event{
    /*width: 30% !important;*/
}
.fc-title{
    /*display: none !important;*/
}

.popover-title{
    background-color: #ffa534 !important;
}

.popover{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #ddd !important;
}

.fc-day:hover{
    background:lightblue;
}
.fc-slats, 
.fc-content-skeleton, 
.fc-bgevent-skeleton{
    pointer-events:none;
}
.fc-bgevent,
.fc-event-container{
    pointer-events:auto;
}

.tooltip{
    position:absolute;
    z-index:10000;
    background:white;
    pointer-events:none;
}
