.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.panel{
    padding: 10px;
}

.image-cmp{
    max-width: 100%;
	height: 125px;
}

.file-over { 
	border: dotted 3px #23CCEF; 
}

.drop-zone{
	width: 100%; 
	user-select: none;
	min-height: 165px;
}

.img-uploader-container{
	cursor: pointer;
}

.parent-container{
	display: table;
	height: 126px;
	width: 100%
}

.child-container{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	color: #e0e0e0;
	font-size: 2em;
}