<input type='file' #fileTag class="inputfile" (ngModel)="selectedImage" (change)="onSelectFile($event)">

<div (click)="openInputFile(fileTag)" class="card">
    <div class="text-center panel">
        <div 
        (dragover)="onDragover($event)" 
        (dragleave)="onDragleave($event)"
        (drop)="onDrop($event)"
        [ngClass]="{ 'file-over': mouseOver,  'img-uploader-container': croppedImage==''}" 
        class='drop-zone'>
            <div>
                <span>
                    {{file.filename}} 
                    <a *ngIf="croppedImage!=''" href="javascript:void(0)" class="fa fa-times" (click)="cancelImage($event)"></a>
                </span>
            </div>
            <br>
            <div class="parent-container" *ngIf="croppedImage==''">
                <div class="child-container">
                    Arrastre aqui una imagen
                </div>
            </div>
            <img [src]="croppedImage" class="image-cmp">
        </div>

        <div class='clear'></div>
    </div>
</div>