<crystal-gallery class="hidden" [images]="slideImages" [config]="myConfig"></crystal-gallery>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="header">
                <a class="btn btn-warning btn-icon" (click)="goBack()" href="javascript:void(0)" title="Volver">
                    <span class="btn-label">
                        <i class="fa fa-arrow-left"></i> Volver
                    </span>
                </a><br>
                <h4 class="title">Total de prendas registradas: {{totalClothing}}</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Tipos'"
                        [subtitle]="'Distribución de prendas por tipo'"
                        [chartType]="pieChartType"
                        [chartData]="typesChartData"
                        [legendItems]="typesChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initTypesPie">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Categorías'"
                        [subtitle]="'Distribución de prendas por categoría'"
                        [chartType]="pieChartType"
                        [chartData]="categoriesChartData"
                        [legendItems]="categoriesChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initCategoriesPie">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Niveles de gusto'"
                        [subtitle]="'Distribución de prendas por niveles de gusto'"
                        [chartType]="pieChartType"
                        [chartData]="howLikeChartData"
                        [legendItems]="howLikeChartLegendItems"
                        [withHr]="false"
                        [initComponent]="isInitHowLikePie">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Marcas'"
                        [subtitle]="'Distribución de prendas por marca'"
                        [chartType]="pieChartType"
                        [chartData]="brandsChartData"
                        [legendItems]="brandsChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initBrandsPie">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Colores'"
                        [subtitle]="'Distribución de prendas por colores'"
                        [chartType]="pieChartType"
                        [chartData]="colorsChartData"
                        [legendItems]="colorsChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initColorsPie">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Las 5 prendas mas usadas</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-bigboy">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-left">Nombre</th>
                                    <th class="text-left">Tipo</th>
                                    <th class="text-left">Total</th>
                                    <th class="text-right"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let clothe of mostUsedClothing; let i=index">
                                    <td>
                                        <div class="img-container">
                                            <img class="img-clothe cursor-pointer" [src]="getImage(clothe.picture)" (click)="lightbox.open(slideImages, {index: i})"/>
                                        </div>
                                    </td>
                                    <td>
                                        {{clothe.name}}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)">{{clothe.type}}</a>
                                    </td>
                                    <td>
                                        {{clothe.total}}
                                    </td>
                                    <td class="td-actions">
                                        <a class="btn btn-info btn-simple btn-icon" [routerLink]="['/clothing/view-clothe', clothe.uuid]" title="Ver">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
