<div id="search-cmp">
        <input id="search-input"
        #word type="text" 
        (keyup)="search(word.value, $event)" 
        (keydown.ArrowUp)="onArrowUp()"
        (keydown.ArrowDown)="onArrowDown()"
        (keydown.enter)="selectItem(focusIdElement)"
        (focus)="onFocusMethod()"
        (blur)="onBlurMethod($event)"
        (change)="onChange($event)"
        [(ngModel)]="searchValue" 
        class="form-control" 
        [placeholder]="placeHolder">{{focusIdElement}}

        <div class="list-group search-list" id="list-tab" role="tablist" *ngIf="(matches.length > 0) && showListTab">
                <a #item
                *ngFor="let match of matches;let i=index"
                [ngClass]="{'active': match.username == focusIdElement}"
                class="list-group-item list-group-item-action item-search-list" 
                data-toggle="list" 
                href="javascript: void(0)" 
                role="tab" 
                aria-controls="home"
                (click)="selectItem(match.username)"
                >
                <div class="search-picture">
                <img id="slide-profile-picture" style="width: 34px; height: 34px;" [src]="getProfileImage(match.profilePicture)" />
                </div>
                {{match.name}}<br>
                @{{match.username}}
                <div class="clear"></div>
                </a>
        </div>
</div>