
<div>
    <div class="clear"></div>
    <div class="col-md-8">
        <ng-color-box (ngModelChange)="colorChanged($event)" [(ngModel)]="color" style="height: 150px;" name="color"></ng-color-box>
    </div>
    <div class="col-md-4">
        <div class="picker-square" [style.background-color]="selectedColor.realColorHexa">
            <span *ngIf="selectedColor.baseColorId==''" id="x">X</span>
        </div>
        
        <select name="colors" class="form-control" 
        [disabled]="selectedColor.baseColorId==''" 
        [(ngModel)]="selectedColor.baseColorId"
        (change)="validateValue()">
                <option value=""></option>
                <option *ngFor="let basecolor of baseColors" [value]="basecolor.id">{{ basecolor.name }}</option>
        </select>
    </div>
    <div class="clear"></div>
</div>