<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Tipos'"
                        [subtitle]="'Distribución de prendas por tipo'"
                        [chartType]="pieChartType"
                        [chartData]="colorsChartData"
                        [legendItems]="colorsChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initComponent">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Categorías'"
                        [subtitle]="'Distribución de prendas por categoría'"
                        [chartType]="pieChartType"
                        [chartData]="colorsChartData"
                        [legendItems]="colorsChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initComponent">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Niveles de gusto'"
                        [subtitle]="'Distribución de prendas por niveles de gusto'"
                        [chartType]="pieChartType"
                        [chartData]="colorsChartData"
                        [legendItems]="colorsChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initComponent">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Marcas'"
                        [subtitle]="'Distribución de prendas por marca'"
                        [chartType]="pieChartType"
                        [chartData]="colorsChartData"
                        [legendItems]="colorsChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initComponent">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <lbd-chart
                        [title]="'Colores'"
                        [subtitle]="'Distribución de prendas por colores'"
                        [chartType]="pieChartType"
                        [chartData]="colorsChartData"
                        [legendItems]="colorsChartLegendItems"
                        [withHr]="false"
                        [initComponent]="initComponent">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    Las 10 prendas mas usadas
                </div>
            </div>
            

        </div>
    </div>
</div>
