.post-card{
    margin-bottom: 15px !important;
}

.post-icon{
    padding-right: 2px !important;
}

.post-statistics{
    color: #777;
}

.post-statistics:hover {
    text-decoration: underline;
}

.reacted{
    color: #ffa534;
}

.comment-header{
    padding: 0 15px 0px;
    font-size: 17px
}

.comments-container{
    margin-top: 10px;
}

.comments-area{
    border-top: 1px solid #eaeaeb;
}