<one-modal></one-modal>
<two-modal2></two-modal2>

<wossha-post-creator 
    [userSessionInfo]="userSessionInfo"
    [profileUsername]="username"
    [placeholder]="'¿ Algo para compartir ?'"
    (postCreatedEvent)="postCreatedListener($event)"
    (loadingEvent)="loadingEventListener($event)"
></wossha-post-creator>


<div class="text-center" style="margin-bottom: 15px;" *ngIf="loading">
    <i class="fas fa-circle-notch fa-spin wossha-spinner"></i>
</div>
<div class="card post-card" @items *ngFor="let post of posts">

    <div class="text-center" style="margin-bottom: 15px;" *ngIf="post.loading">
        <i class="fas fa-circle-notch fa-spin wossha-spinner" style="font-size: 24pt;"></i>
    </div>

    <div class="header">
        <a [routerLink]="['/pages/user', post.username]">
            <img class="avatar" style="width: 48px; height: 48px;" [src]="post.profilePicture | picturePipe" alt="...">
            <span style="color: #ffa534">@{{post.username}} - {{post.name}}</span>
        </a>   
        
        <div *ngIf="userSessionInfo.username==post.username" class="dropdown options-arrow">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-chevron-down"></i>
                <p class="hidden-md hidden-lg">
                    Actions
                    <b class="caret"></b>
                </p>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" (click)="deletePost(post)">Eliminar</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <p>
            {{post.text}}
        </p>
        <div *ngIf="post.type=='IMAGE_POST'" class="col-md-12">
            <wossha-post-images [images]="post.attachments" [isComment]="false"></wossha-post-images>
        </div>
        
        <div *ngIf="post.type=='VIDEO_POST'" class="col-md-12">
            <iframe appResizableVideo [src]="post.attachments[0].url | videoPipe: 'CODE'" style="width: 100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class='clear'></div>
    </div>
    <div style="padding: 0 15px;">       
        <button href="#" class="btn btn-simple post-icon" style="padding-left: 0"><i class="fa fa-thumbs-up" [ngClass]="{'reacted': iReacted(post.reactions['LIKE'])}" (click)="react('LIKE', post.uuid, null)"></i></button>
        <a class="post-statistics" href="javascript:void(0)" (click)="openReactionsPopup(post.reactions, 'LIKE')">
            {{(post.reactions['LIKE']) ? post.reactions['LIKE'].length : 0}}
        </a>

        <button href="#" class="btn btn-simple post-icon"><i class="fa fa-thumbs-down" [ngClass]="{'reacted': iReacted(post.reactions['DISLIKE'])}" (click)="react('DISLIKE', post.uuid, null)"></i></button>
        <a class="post-statistics" href="javascript:void(0)" (click)="openReactionsPopup(post.reactions, 'DISLIKE')">
            {{(post.reactions['DISLIKE']) ? post.reactions['DISLIKE'].length : 0}}
        </a>
        
        <button href="#" class="btn btn-simple post-icon"><i class="fa fa-comment" (click)="showComments(post.uuid)"></i></button>
        <a class="post-statistics" href="javascript:void(0)" (click)="showComments(post.uuid)">
            {{post.comments.length}}
        </a>

        <button href="#" class="btn btn-simple post-icon"><i class="fa fa-share"></i></button>
    
        <span class="notif-time">{{post.created | fromDate}}</span>
    </div>
    <div *ngIf="post.showComments" class="comments-area">
        <div class="comments-container">
            <div class="post-card comment-card" @items *ngFor="let comment of post.comments">
                <div class="comment-header">
                    <a [routerLink]="['/pages/user', comment.username]">
                        <img class="avatar" style="width: 30px; height: 30px;" [src]="comment.profilePicture | picturePipe" alt="...">
                        <span style="color: #ffa534">@{{comment.username}} - {{comment.name}}</span>
                    </a>
                    <div *ngIf="userSessionInfo.username==comment.username" style="margin-left: 10px;" class="dropdown options-arrow">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                            <p class="hidden-md hidden-lg">
                                Actions
                                <b class="caret"></b>
                            </p>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" (click)="deletePost(comment)">Eliminar</a></li>
                        </ul>
                    </div>
                    &nbsp; 
                    <span>{{comment.text}}</span>
                    <div *ngIf="comment.type=='IMAGE_POST'" class="col-md-12">
                        <wossha-post-images [images]="comment.attachments" [localImages]="comment.localImages" [isComment]="true"></wossha-post-images>
                    </div>
                    <div *ngIf="comment.type=='VIDEO_POST'" class="col-md-12">
                        <iframe width="200" height="112.5" [src]="comment.attachments[0].url | videoPipe: 'CODE'" style="margin-top: 5px;" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div style="padding: 0 15px;">       
                    <button href="#" class="btn btn-simple post-icon" style="padding-left: 0"><i class="fa fa-thumbs-up" [ngClass]="{'reacted': iReacted(comment.reactions['LIKE'])}" (click)="react('LIKE', post.uuid, comment.uuid)"></i></button>
                    <a class="post-statistics" href="javascript:void(0)" (click)="openReactionsPopup(comment.reactions, 'LIKE')">
                        {{(comment.reactions['LIKE']) ? comment.reactions['LIKE'].length : 0}}
                    </a>
            
                    <button href="#" class="btn btn-simple post-icon"><i class="fa fa-thumbs-down" [ngClass]="{'reacted': iReacted(comment.reactions['DISLIKE'])}" (click)="react('DISLIKE', post.uuid, comment.uuid)"></i></button>
                    <a class="post-statistics" href="javascript:void(0)" (click)="openReactionsPopup(comment.reactions, 'DISLIKE')">
                        {{(comment.reactions['DISLIKE']) ? comment.reactions['DISLIKE'].length : 0}}
                    </a>
                    <span class="notif-time">{{comment.created | fromDate}}</span>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-bottom: 15px;" *ngIf="post.loading">
            <i class="fas fa-circle-notch fa-spin wossha-spinner"></i>
        </div>
        <wossha-post-creator 
            [userSessionInfo]="userSessionInfo"
            [profileUsername]="username"
            [uuidPost]="post.uuid"
            [placeholder]="'Comenta algo'"
            (postCreatedEvent)="postCreatedListener($event)"
            (loadingEvent)="loadingEventListener($event)"
        ></wossha-post-creator>
    </div>
</div>

<div class="col-md-12" *ngIf="posts.length < totalItems">
    <button [disabled]="loading" type="button" rel="tooltip" (click)="getPosts(true)" data-placement="left" class="btn btn-danger btn-block btn-icon ">
        <span *ngIf="!loading"><i class="fa fa-arrow-down"></i> Cargar mas...</span> <i *ngIf="loading" class="fas fa-circle-notch fa-spin"></i>
    </button>
</div>