<wossha-post-creator 
    [userSessionInfo]="userSessionInfo"
    (postCreatedEvent)="postCreatedListener($event)"
></wossha-post-creator>

<div class="text-center" style="margin-bottom: 15px;" *ngIf="loading">
    <i class="fas fa-circle-notch fa-spin wossha-spinner"></i>
</div>
<div class="card post-card" @items *ngFor="let post of posts">
    <div class="header">
        <img class="avatar" src="../../../assets/img/default-avatar.png" alt="...">
        <span>{{post.username}}</span>
    </div>
    <div class="content">
        <p>
            {{post.text}}
        </p>
        <div *ngIf="false" class="col-md-10 col-md-offset-1">
            <img class="img-clothe" alt="..." src="../assets/img/blog-1.jpg" />
        </div>
        <div class='clear'></div>
    </div>
</div>