.post-card{
    padding-top: 15px !important;
}

.post-icon{
    padding-right: 2px !important;
}

.post-statistics{
    color: #777;
}

.post-statistics:hover {
    text-decoration: underline;
}

.reacted{
    color: #ffa534;
}

.comment-header{
    padding: 0 15px 0px;
    font-size: 17px
}

.comments-container{
    margin-top: 10px;
}

.comment-card{
    cursor: pointer;
}

.comment-card:hover{
    background-color: #fff3e5;
}

.comments-area{
    border-top: 1px solid #eaeaeb;
}

.options-arrow{
    float: right;
}

.options-arrow a{
    color: #ffa534 !important;
}

.options-arrow ul a{
    color: #555 !important;
}