<div>
    <h4 class="text-center" style="margin-top: 5px;">
        <i _ngcontent-c2="" class="fa fa-filter"></i> Filtros
    </h4>
    <div class="actions">
        <div class="panel panel-default">
            <div class="panel-cabecera">
                <label><input type="checkbox" (change)="showTypes()"> Tipo de prenda</label>
            </div>
            <div *ngIf="searchCriteriaResult.showTypes" class="panel-body">
                <angular2-multiselect [data]="searchCriteriaParams.types" 
                                        [(ngModel)]="searchCriteriaResult.types" 
                                        [settings]="typesSettings" 
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)" 
                                        (onSelectAll)="onSelectAll($event)" 
                                        (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>

            </div>
        </div>
    </div>
    <div class="actions">
        <div class="panel panel-default">
            <div class="panel-cabecera">
                <label><input type="checkbox" (change)="showCategories()" name="checkbox-filtro" class="filtro" id="filtro_categoria" alt="NO" value="pad_categoria"> Categoría</label>
            </div>
            <div *ngIf="searchCriteriaResult.showCategories" class="panel-body">
                <angular2-multiselect [data]="searchCriteriaParams.categories" 
                                        [(ngModel)]="searchCriteriaResult.categories" 
                                        [settings]="categoriesSettings" 
                                        (onSelect)="onItemSelect($event)"
                                        (onDeSelect)="OnItemDeSelect($event)" 
                                        (onSelectAll)="onSelectAll($event)" 
                                        (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-cabecera">
            <label><input type="checkbox" (change)="showBrands()" name="checkbox-filtro" class="filtro" id="filtro_marca" alt="NO" value="pad_marca"> Marca</label>
        </div>
        <div *ngIf="searchCriteriaResult.showBrands" class="panel-body">
            <angular2-multiselect [data]="searchCriteriaParams.brands" 
                                    [(ngModel)]="searchCriteriaResult.brands" 
                                    [settings]="brandsSettings" 
                                    (onSelect)="onItemSelect($event)"
                                    (onDeSelect)="OnItemDeSelect($event)" 
                                    (onSelectAll)="onSelectAll($event)" 
                                    (onDeSelectAll)="onDeSelectAll($event)">
            </angular2-multiselect>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-cabecera">
            <label><input type="checkbox" (change)="showColors()" name="checkbox-filtro" class="filtro" id="filtro_color" alt="NO" value="pad_color"> Color</label>
        </div>
        <div *ngIf="searchCriteriaResult.showColors" class="panel-body">
            <angular2-multiselect [data]="searchCriteriaParams.colors" 
                                    [(ngModel)]="searchCriteriaResult.colors" 
                                    [settings]="colorsSettings" 
                                    (onSelect)="onItemSelect($event)"
                                    (onDeSelect)="OnItemDeSelect($event)" 
                                    (onSelectAll)="onSelectAll($event)" 
                                    (onDeSelectAll)="onDeSelectAll($event)">
            </angular2-multiselect>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-cabecera">
            <label><input type="checkbox" (change)="showcHowLike()" name="checkbox-filtro" class="filtro" id="filtro_nivelGusto" alt="NO" value="pad_nivelGusto"> Nivel de gusto</label>
        </div>
        <div *ngIf="searchCriteriaResult.showcHowLike" class="panel-body">
            <br>
            <nouislider name="howLike" (ngModelChange)="onChange()" [connect]="false" [min]="0" [max]="10" [step]="1" [(ngModel)]="searchCriteriaResult.howLike" [tooltips]="true"></nouislider>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-cabecera">
            <label><input type="checkbox" (change)="showNoWearingDays()" name="checkbox-filtro2" class="filtro" alt="NO" id="pad_tiempo"> Días sin uso</label>
        </div>
        <div *ngIf="searchCriteriaResult.showNoWearingDays" class="panel-body">
            <div style="float: left; width: 40%">
                <select class="form-control" required="required" [(ngModel)]="searchCriteriaResult.noWearingDaysSimbol" (change)="onChange()">
                    <option value="+" selected>></option>
                    <option value="-">&lt;</option>
                    <option value="=">=</option>
                </select>
            </div>
            <div style="float: left; width: 60%">
                <input class="form-control" placeholder="Días" maxlength="3" type="number" [(ngModel)]="searchCriteriaResult.noWearingDays" (change)="onChange()" value="5">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>