<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="places-sweet-alerts">
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="card">
                            <div class="content text-center">
                                <div class="img-prenda">
                                    <img class="img-prenda" alt="..." src="../assets/img/blog-1.jpg" />
                                </div>
                                <h5>Camisa verde de cuadros Big jhon </h5>
                                <a href="https://datatables.net/" target="_blank" rel="noopener noreferrer">Camisetas</a><br/><br/>
                                <button class="btn btn-warning btn-fill btn-wd" (click)="showSwal('basic')">
                                    <span class="btn-label">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    Editar
                                </button>
                                <button class="btn btn-danger btn-fill btn-wd" (click)="showSwal('basic')">
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="content text-center">
                                <div class="img-prenda">
                                    <img class="img-prenda" alt="..." src="../assets/img/blog-1.jpg" />
                                </div>
                                <h5>Camisa verde de cuadros Big jhon </h5>
                                <a href="https://datatables.net/" target="_blank" rel="noopener noreferrer">Camisetas</a><br/><br/>
                                <button class="btn btn-warning btn-fill btn-wd" (click)="showSwal('basic')">
                                    <span class="btn-label">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    Editar
                                </button>
                                <button class="btn btn-danger btn-fill btn-wd" (click)="showSwal('basic')">
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="content text-center">
                                <div class="img-prenda">
                                    <img class="img-prenda" alt="..." src="../assets/img/blog-1.jpg" />
                                </div>
                                <h5>Camisa verde de cuadros Big jhon </h5>
                                <a href="https://datatables.net/" target="_blank" rel="noopener noreferrer">Camisetas</a><br/><br/>
                                <button class="btn btn-warning btn-fill btn-wd" (click)="showSwal('basic')">
                                    <span class="btn-label">
                                        <i class="fa fa-pencil"></i>
                                    </span>
                                    Editar
                                </button>
                                <button class="btn btn-danger btn-fill btn-wd" (click)="showSwal('basic')">
                                    <span class="btn-label">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </div>

    
                </div>
            </div>
    
        </div>
    </div>
    </div>
    